<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Sample web.config - should be located in project folder, in this case : C:\Users\user\source\repos\WebApplication2DotNetCore\WebApplication2DotNetCore\-->
  <!-- Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380 -->

  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <!-- This set of attributes are used for launching the sample for Core CLR without Visual Studio tooling -->
    <aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments="C:\Users\user\source\repos\WebApplication2DotNetCore\WebApplication2DotNetCore\bin\Debug\netcoreapp1.0\WebApplication2DotNetCore.dll" stdoutLogEnabled="true" stdoutLogFile="C:\logs\stdout" forwardWindowsAuthToken="false"/>
    <defaultDocument>
      <files>
        <add value="Views/Home/Index.cshtml" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>